{% extends 'basenav.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="container my-3">
            {% include 'components/_flashmessages.html.twig' %}

            <div class="row mt-3 border-bottom">
                <h1 class="text-center">Modifier mon mot de passe</h1>
            </div>

            {{ form_start(form)}}
            </div>
            <div class="row">
                <div class="col-6 col-md-4 mx-auto">
                    {{ form_label(form.oldPassword) }}
                    {{ form_widget(form.oldPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 mx-auto">
                    {{ form_label(form.newPassword) }}
                    {{ form_widget(form.newPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 mx-auto">
                    {{ form_label(form.newPasswordConfirm) }}
                    {{ form_widget(form.newPasswordConfirm) }}
                </div>
            </div>

            <div class="row border-bottom">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}

            <div class="row mt-3 text-center">
                <ul class="list-unstyled d-flex flex-column gap-2">
                    <li class="profile-link">
                        <a class="text-reset text-decoration-none" href="{{ path('app_profile') }}">
                            Retour au compte
                        </a>
                    </li>
                    <li class="profile-link">
                        <a class="text-reset text-decoration-none" href="{{ path('app_change_profile') }}">
                            Modifier mon profil
                        </a>
                    </li>
                    <li class="profile-link">
                        <a class="text-reset text-decoration-none fw-bolder" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% endif %}
        {% endblock %}
