{% extends 'baseadmin.html.twig' %}

{% block title %}{{ feature.name }}{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>{{ feature.name }}</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_feature_index') }}">Retour à la liste</a>
        <a href="{{ path('app_feature_edit', {'id': feature.id}) }}">Modifier</a>
    </div>
    <div class="row py-3">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feature.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ feature.name }}</td>
            </tr>
            <tr>
                <th>Icône</th>
                <td>
                    {% if feature.image.path is defined %}
                        <img
                                class="crud-thumbnail"
                                src="{{ asset('images/' ~ feature.image.path) }}"
                                alt="icône de {{ feature.name }}">
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
