{{ form_start(form, { 'attr': { 'data-controller': 'admin-category-icon-toggle' }}) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

    {{ form_label(form.parent) }}
    {{ form_widget(form.parent) }}

    <div>
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
    </div>

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
