{% extends 'baseadmin.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Categories</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_category_new') }}">Ajouter une catégorie</a>
    </div>
    <div class="row py-3">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="d-none d-md-table-cell">Catégorie mère</th>
                <th>Icône</th>
                <th class="d-none d-md-table-cell">Slug</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td class="d-none d-md-table-cell">{{ category.parent.name is defined ? category.parent.name : '-' }}</td>
                    <td>
                        {% if category.image.path is defined %}
                            <img
                                    class="crud-thumbnail"
                                    src="{{ asset('images/' ~ category.image.path) }}"
                                    alt="logo {{'logo' ~ category.name }}">
                        {% endif %}
                    </td>
                    <td class="d-none d-md-table-cell">{{ category.slug }}</td>
                    <td>
                        <a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                        {{ include('category/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de catégories</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
