{{ form_start(form) }}

    {{ form_label(form.message) }}
    {{ form_widget(form.message) }}

    {{ form_label(form.button_message) }}
    {{ form_widget(form.button_message) }}

    {{ form_label(form.link) }}
    {{ form_widget(form.link) }}

    {{ form_label(form.image) }}
    {{ form_widget(form.image) }}

    {{ form_label(form.active) }}
    {{ form_widget(form.active) }}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
