{% extends 'baseadmin.html.twig' %}

{% block title %}Bannière{% endblock %}

{% block body %}
    <div class="row py-3 border-bottom">
        <h1>Bannière</h1>
    </div>
    <div class="row py-3 border-bottom">
        <a href="{{ path('app_hero_index') }}">Retour à la liste</a>
        <a href="{{ path('app_hero_edit', {'id': hero.id}) }}">Modifier</a>
    </div>
    <div class="row py-3">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hero.id }}</td>
            </tr>
            <tr>
                <th>Bannière</th>
                <td><img class="crud-thumbnail" src="{{ asset('images/' ~ hero.image.path) }}"></td>
            </tr>
            <tr>
                <th>Message de la bannière</th>
                <td>{{ hero.message }}</td>
            </tr>
            <tr>
                <th>Message du bouton</th>
                <td>{{ hero.buttonMessage }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ hero.link }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
