{% extends 'basenav.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container mt-2 mb-2">
        <div class="row">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label == 'success' %}
                        <div class="alert alert-success">
                    {% elseif label == 'error'%}
                        <div class="alert alert-danger">
                    {% else %}
                        <div class="alert alert-info">
                    {% endif %}
                {{ message }}
                </div>
                {% endfor %}
            {% endfor %}
        </div>

{#        Symfony errors#}
        <div class="row">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>

        <div class="row">
            <h1 class="text-center mt-0 mb-2 fs-2">Connexion</h1>
        </div>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
        </div>
        <div class="row">
            <a class="col-12 col-md-6 mt-2 mx-auto" href="#">Mot de passe oublié ?</a>
        </div>
        <div class="row">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <div class="row">
            {{ form_widget(form.submit) }}
        </div>

        {{ form_end(form) }}

        <div class="row text-center">
            <p class="col-12 font-weight-bold mt-4 fs-5">Vous n'êtes pas encore client ?</p>
            <a class="col-12 mb-3" href="{{ path('app_registration') }}">Nouveau client ? Créer un compte !</a>
        </div>

    </div>
{% endblock %}