<div class="infos container-fluid bg-fd2048 py-4">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
            <img class="infos-image mx-auto" src="{{ asset('images/icons/startup.png') }}" alt="icône fusée">
            <h2 class="fw-bold fs-5 text-dark">Livraison rapide</h2>
            <p class="fs-6 text-dark">Colissimo, Chronopost 24h, Mondial relay, Click & Collect</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
            <img class="infos-image mx-auto" src="{{ asset('images/icons/carnival-mask-silhouette.png') }}" alt="icône incognito">
            <h2 class="fw-bold fs-5 text-dark">Discretion assurée</h2>
            <p class="fs-6 text-dark">Colis sans mention</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
            <img class="infos-image mx-auto" src="{{ asset('images/icons/credit-card.png') }}" alt="icône paiement">
            <h2 class="fw-bold fs-5 text-dark">Paiement en 3x sans frais</h2>
            <p class="fs-6 text-dark">Dès 150 euros d'achat</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
            <img class="infos-image mx-auto" src="{{ asset('images/icons/money.png') }}" alt="icône satisfait remboursé">
            <h2 class="fw-bold fs-5 text-dark">Satisfait ou remboursé</h2>
            <p class="fs-6 text-dark">15 jours pour se rétracter</p>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
            <img class="infos-image mx-auto" src="{{ asset('images/icons/free-delivery.png') }}" alt="icône livraison">
            <h2 class="fw-bold fs-5 text-dark">Livraison offerte</h2>
            <p class="fs-6 text-dark">Dès 100 euros d'achat</p>
        </div>
    </div>
</div>